html {
    height: 100%;
    overflow-x: hidden;
    font-family: system-ui;
}

button, input, textarea, select, option {
    font-family: system-ui;
}

.input-sign-up {
    background: #FFFFFF;
    border: none;

    padding: 10px;
    height: 100%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    margin: 5px;
}

#app {
    display: flex;
    height: 100%;
    flex-direction: column;
    justify-content: space-evenly;
}

body {
    background-color: #F9F9F9;
    height: 100%;
    margin: 0;
}

td {
    padding: 0 20px;
}

.header {
    position: absolute;
    display: flex;
    padding-left: 20px;
    padding-right: 20px;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: calc(100% - 40px);
    height: 70px;
    left: 0;
    top: 0;

    background: #FFFFFF;
    box-shadow: 1px 0 10px rgba(0, 0, 0, 0.1);
}

.logo {
    font-style: italic;
    color: coral;
}

.header-container {
    gap: 20px;
    display: flex;
    height: 80%;
}

.office-label {
    margin: 15px 0 5px 0;
}

.button-content {
    background: #FFFFFF;
    border: none;
    transition: 0.3s;
    width: auto;
    padding: 10px;
    margin: 5px;
    height: 100%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
}

.shadow {
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
}

.button-content:hover {
    background: #f1f1f1
}

.button-content:active {
    background: #8c8c8c
}

.button-head {
    background: #FFFFFF;
    border: none;
    transition: 0.3s;
    width: 80px;
    height: 100%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
}

.button-head:hover {
    background: #f1f1f1
}

.button-head:active {
    background: #d7d7d7
}

.container-wrapper {
    display: flex;
    flex-direction: column;
    overflow: auto;
    margin-top: 70px;
    height: 100%;
}

.main-content {
    text-align: center;
    flex: 1;
}

.full-width {
    display: flex;
    justify-content: center
}

.service-label {
    width: 20ch;
}

.item {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 50px;
}

.content-row {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.content {
    margin: 17px;
    padding: 30px;
    width: 40ch;
    background: #FFFFFF;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 20px;
    text-align: justify;
}

.table {
    margin: 17px;
    padding: 30px;
    width: auto;
    background: #FFFFFF;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 20px;
    text-align: center;
}

.table-tr {
    display: flex;
    margin: 17px;
    padding: 5px;
    width: auto;
    background: #FFFFFF;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 20px;
    align-items: center;
    justify-content: space-around;
}

.editor-table {
    width: 100%;
    background: #FFFFFF;
    text-align: center;
}

.editor-table-tr {
    display: flex;
    align-items: center;
}

.editor-table-tr > td {
    width: 50%;
}

.editor-table-service{
    display: flex;
    align-items: center;
}

.editor-p-width > label {
    display: flex;
    text-align: justify;
    text-indent: 2em;
    line-height: 1.5;
}

.editor-table-service > td, .table-head-service > th{
    padding: 5px;
    width: 50%;
}

.editor-label-width {
    width: 25% !important;
}

.editor-p-width {
    width: 50% !important;
}

.user {
    padding: 5px;
}

.editor-table-tr:nth-of-type(even) {
    background-color: whitesmoke;
}

.table-head {
    display: flex;
    width: 100%;
    justify-content: space-around;
    position: relative;
}

.table-head {
    display: flex;
    width: 100%;
    justify-content: space-around;
    position: relative;
}

.table-head-service {
    display: flex;
    width: 100%;
}

.table-head.info {
    right: 50px;
}

img {
    height: 320px;
    width: 390px;
    object-fit: cover;
    border-radius: 20px;
}

.sign-up {
    display: flex;
    padding: 127px 0;
    flex-direction: column;
    align-items: center;
}

.sign-up-register {
    display: flex;
    padding: 23px 0;
    flex-direction: column;
    align-items: center;
}

.office {
    padding: 10px 0;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.button-row {
    display: flex;
    align-items: center;
}

.footer {
    display: flex;
    align-items: center;
    justify-content: center;

    padding: 50px 0;
    margin-top: auto;
    width: 100%;
    height: 120px;

    background: #FFFFFF;
    box-shadow: 0 -2px 10px rgba(0, 0, 0, 0.1);
}

.footer-container {
    gap: 20px;
    display: flex;
}

.sign-up-content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.cart-outer {
    position: absolute;
    right: -200px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    transition: 0.7s;
}

.cart-outer.show {
    right: 5px;
}

.cart-inner {
    margin: 20px;
    padding: 10px;
    background: #FFFFFF;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 20px;
}

.cart-item {
    margin: 10px 0;
    width: 20ch;
}

.footer-content {
    width: 50ch;
    text-align: justify;
    text-indent: 2em;
    line-height: 1.5;
}

.list {
    list-style-type: none;
    line-height: 1.5;
}

a {
    text-decoration: none;
    color: black;
    transition: 0.5s;
}

a:hover {
    color: #989898;
}

.about-content {
    display: flex;
    padding: 20px;
    background: #FFFFFF;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 20px;
    width: 110ch;
    flex-direction: column;
    align-items: center;
}

.about-p {
    display: flex;
    align-items: center;
    width: 100ch;
    text-align: justify;
    text-indent: 2em;
    line-height: 1.5;
}

.label-position-off {
    position: relative;
    left: -100px;
}

.notification {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

.notification-p {
    text-align: center;
    width: 35ch;
}

textarea {
    resize: none;
}


.root {
    position: relative;
}

.modal {
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.1);
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.modal > div {
    background-color: #FFFFFF;
    padding: 50px;
    border-radius: 10px;
}

.editor-field {
    background: #FFFFFF;
    border: none;
    padding: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    margin: 10px 5px;
}

.editor-select {
    border: none;
    padding: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
}

.history-no-content {
    margin: 60px;
    padding: 85px;
    width: 35ch;
    background: #FFFFFF;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 20px;
    text-align: center;
}

.history-no-content > p {
    font-size: large;
}

.column {
    display: flex;
    float: left;
    width: 33.33%;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.column:nth-of-type(even) {
    background-color: #FFFFFF;
}

.column:nth-of-type(odd) {
    background-color: whitesmoke;
}

.row {
    margin-bottom: 20px;
}

.row:after {
    content: "";
    display: table;
    clear: both;
}

.coral {
    color: coral;
}

.whitesmoke {
    background-color: #B9B9B9FF;
}

.category-width {
    width: 15ch;
}

.row-p {
    width: 35ch;
}

.burger-menu {
    width: 250px;
    background: white;
    display: flex;
    flex-direction: column;
    border-right: 1px solid #d5d5d5;
}

.item-editor {
    display: flex;
    flex-direction: row;
    height: 100%;
}

.item.foo {
    flex: 1
}

.burger-button {
    height: 45px;
    display: flex;
    align-items: center;
    padding: 10px;
    border: none;
    background: white;
    transition: 0.5s;
}

.burger-button + .burger-button, .editor-table-service + .editor-table-service{
    border-top: 1px solid #d5d5d5
}

.burger-button-container {
    display: flex;
    flex-direction: column;
}

.burger-button:hover {
    background: #b6b6b6;
}

.card:before, .users:before, .list-menu:before {
    width: 50px;
    font-size: 20px;
}

.width{
    width: 210px;
}

.sad {
    font-size: 80px;
}

.margin {
    margin: 16px;
}

.history-table-head {
    width: 688px;
}

.gap {
    display: flex;
    gap: 10px;
}

.full-element-width {
    width: 100%;
}

.service-buttons {
    display: flex;
    justify-content: flex-end;
}

.right-side{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.red {
    background-color: #e10000;
    border-radius: 10px;
    padding: 2px;
}

.yellow {
    background-color: yellow;
    border-radius: 10px;
    padding: 2px;
}

.light-green {
    background-color: #a1eea1;
    border-radius: 10px;
    padding: 2px;
}

.green {
    background-color: #00ad00;
    border-radius: 10px;
    padding: 2px;
}

.calendar, .microchip, .money, .cloak, .comments ,.star {
    font-size: 50px;
    color: coral;
}

.card:before{font-family: 'FontAwesome'; content: '\f022'}
.users:before{font-family: 'FontAwesome'; content: '\f0c0'}
.list-menu:before{font-family: 'FontAwesome'; content: '\f03a'}
.sad:before{font-family: 'FontAwesome'; content: '\f119'}
.calendar:before{font-family: 'FontAwesome'; content: '\f073'}
.microchip:before{font-family: 'FontAwesome'; content: '\f2db'}
.money:before{font-family: 'FontAwesome'; content: '\f0d6'}
.cloak:before{font-family: 'FontAwesome'; content: '\f017'}
.comments:before{font-family: 'FontAwesome'; content: '\f086'}
.star:before{font-family: 'FontAwesome'; content: '\f005'}